body {
    margin: 0;
    padding: 0;
    background-color: #FEE8B0;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.app {
    background-color: white;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
}

.button-container, .info-container {
    display: flex;
    align-items: center;
}

.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    font-size: 11px;
}

.edit {
    border: 1.5px solid #9CA777;
    color: #9CA777;
    text-transform: uppercase;
}

.edit:hover {
    background-color: #9ca77781;
}

.edit:active {
    color: white;
    background-color: #9CA777;
}

.delete {
    border: 1.5px solid rgb(255, 175, 163);
    color: rgb(255, 175, 163);
    text-transform: uppercase;
}

.delete:hover {
    background-color: rgb(255, 201, 193);
}

.delete:active {
    color: white;
    background-color: rgb(255, 175, 163);
}

.create {
    border: 1.5px solid #F97B22;
    color: #F97B22;
    text-transform: uppercase;
}

.create:hover {
    background-color: #f97c2283;
}

.create:active {
    color: white;
    background-color: #F97B22;
}

.signout {
    border: 1.5px solid #263A29;
    background-color: #263A29 !important;
    color: rgb(234, 234, 234);
}

.signout:hover {
    background-color: #4b7051 !important;
    border: 1.5px solid #4b7051;
}

.signout:active {
    border: 1.5px solid #3f5e45;
    background-color: #3f5e45 !important;
    color: white;
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232, 236  );
}

/* List Header */

.list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

/* List Item */

.list-item {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

.tick {
    padding: 10px;
}

.tick path {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 32px;
}

/* Modal */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button {
    border: none;
    background-color: transparent;
}

.modal .form-title-container button:active {
    color: red;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    font-size: 13px;
}

/* Auth */

.auth-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.auth-container-box {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-container-box form {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 20px;
}

.auth-options {
    display: flex;
}

.auth-options button {
    width: 50%;
    border: none;
    padding: 10px;
    color: rgb(35, 38, 47);
}

.user-email {
    float: right;
    font-size: 13px;
    margin: 10px;
    color: rgb(114, 114, 144);
}

.outer-bar {
    width: 200px;
    height: 14px;
    background-color: rgb(216, 216, 216);
    border-radius: 7px;
    overflow: hidden;
}

.inner-bar {
    height: 14px;
}

.task-title {
    width: 300px;
}